@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.registro .registro__inputs .registro__boton, .foot .foot__contacto .foot__boton, .bloqueMapaLogin .registro .registro__inputs .registro__boton {
  background-color: rgb(228, 132, 6);
  height: 50px;
  width: 170px;
  border-radius: 50px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: solid 3px rgb(228, 132, 6);
}
@media (max-width: 768px) {
  .registro .registro__inputs .registro__boton, .foot .foot__contacto .foot__boton, .bloqueMapaLogin .registro .registro__inputs .registro__boton {
    height: 40px;
    width: 130px;
  }
}
.registro .registro__inputs .registro__boton span, .foot .foot__contacto .foot__boton span, .bloqueMapaLogin .registro .registro__inputs .registro__boton span {
  z-index: 2;
}
@media (max-width: 768px) {
  .registro .registro__inputs .registro__boton span, .foot .foot__contacto .foot__boton span, .bloqueMapaLogin .registro .registro__inputs .registro__boton span {
    font-size: 13px;
  }
}
.registro .registro__inputs .registro__boton::after, .foot .foot__contacto .foot__boton::after, .bloqueMapaLogin .registro .registro__inputs .registro__boton::after {
  content: "";
  width: 1px;
  height: 1px;
  background-color: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.5s ease-in-out all;
  border-radius: 100px;
}
.registro .registro__inputs .registro__boton:hover::after, .foot .foot__contacto .foot__boton:hover::after {
  transform: scale(200);
  background-color: black;
}

.tarjetas-exp-cent .tarjeta-exp-cent {
  width: 410px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 12px #d7d7d7;
  background-color: #f8f8f8;
  font-family: "Gill Sans", Calibri, sans-serif;
  color: rgb(43, 41, 41);
  margin: 25px;
  transition: transform 0.3s ease;
}
.tarjetas-exp-cent .tarjeta-exp-cent:hover {
  transform: scale(1.1);
}
.tarjetas-exp-cent .tarjeta-exp-cent .tarjeta-exp-cent__header img {
  width: 410px;
  height: 430px;
  object-fit: cover;
}
.tarjetas-exp-cent .tarjeta-exp-cent .tarjeta-exp-cent__footer {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.tarjetas-exp-cent .tarjeta-exp-cent .tarjeta-exp-cent__footer h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}

.menu__links {
  height: 74px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__links a img {
  width: 100px;
  height: 60px;
}
@media (max-width: 575px) {
  .menu__links a img {
    width: 80px;
    height: 50px;
    margin: 0;
  }
}
.menu__links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  /* Estos estilos tienen el objetivo de generar un menu desplegable en resoluciones manores a 768px*/
}
@media (max-width: 768px) {
  .menu__links ul {
    position: fixed;
    top: 0;
    left: -55vw;
    background-color: white;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    width: 55vw;
    height: 50vw;
    transition: 0.5s;
    border: solid black 1px;
  }
  .menu__links ul:hover {
    left: 0px;
  }
}
.menu__links ul li a {
  color: rgb(207, 200, 200);
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 5px 20px;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .menu__links ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .menu__links ul li a {
    color: black;
  }
}
.menu__links ul li a:hover {
  color: white;
  text-decoration: underline;
}

.menu {
  width: 100%;
  height: 750px;
  position: relative;
  overflow: hidden;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1900px) {
  .menu {
    height: 650px;
  }
}
@media (max-width: 1440px) {
  .menu {
    height: 580px;
  }
}
@media (max-width: 1200px) {
  .menu {
    height: 500px;
  }
}
@media (max-width: 1024px) {
  .menu {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .menu {
    height: 364px;
  }
}
@media (max-width: 575px) {
  .menu {
    height: 324px;
  }
}
.menu .video-portada {
  margin-top: 74px;
  font-size: 30px;
}
@media (max-width: 575px) {
  .menu .video-portada {
    margin-top: 60px;
  }
}
.menu .video-portada video {
  width: 100%;
}
.menu .video-portada h1 {
  position: absolute;
  color: white;
  font-size: 300%;
  text-align: center;
  top: 250px;
  margin: 0;
  font-weight: 400;
  text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255, 255, 255, 0.23);
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .menu .video-portada h1 {
    font-size: 240%;
  }
}
@media (max-width: 1200px) {
  .menu .video-portada h1 {
    font-size: 210%;
    top: 190px;
  }
}
@media (max-width: 1024px) {
  .menu .video-portada h1 {
    font-size: 180%;
    top: 150px;
  }
}
@media (max-width: 768px) {
  .menu .video-portada h1 {
    font-size: 140%;
  }
}
@media (max-width: 575px) {
  .menu .video-portada h1 {
    font-size: 90%;
    top: 120px;
  }
}

.menu__Hamb {
  color: white;
  font-size: 35px;
  display: none;
}
@media (max-width: 768px) {
  .menu__Hamb {
    display: block;
    order: -1;
    margin: 15px;
  }
  .menu__Hamb:hover + ul {
    left: 0px;
  }
}
@media (max-width: 575px) {
  .menu__Hamb {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .position575 {
    display: flex;
    justify-content: center;
  }
}

.booker {
  background-color: darkgray;
  width: 65%;
  height: 80px;
  border-radius: 50px;
  border: solid black 2px;
  position: relative;
  bottom: 40px;
  left: 310px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1900px) {
  .booker {
    bottom: 40px;
    left: 300px;
  }
}
@media (max-width: 1440px) {
  .booker {
    left: 230px;
    height: 55px;
    bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .booker {
    left: 180px;
    width: 70%;
    bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .booker {
    left: 90px;
    width: 80%;
    height: 55px;
  }
}
@media (max-width: 768px) {
  .booker {
    left: 60px;
    height: 37px;
    bottom: 18px;
  }
}
@media (max-width: 575px) {
  .booker {
    position: static;
    width: 350px;
    height: 220px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 18px;
    margin-top: 10px;
  }
}
.booker .booker__tipologia {
  font-size: 20px;
  font-weight: bolder;
}
@media (max-width: 1900px) {
  .booker .booker__tipologia {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .booker .booker__tipologia {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .booker .booker__tipologia {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .booker .booker__tipologia {
    font-size: 10px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .booker .booker__tipologia {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
.booker .booker__tipologia input {
  font-size: 15px;
  height: 35px;
  border: solid 1px black;
}
@media (max-width: 1900px) {
  .booker .booker__tipologia input {
    font-size: 15px;
    height: 25px;
  }
}
@media (max-width: 1440px) {
  .booker .booker__tipologia input {
    font-size: 13px;
    height: 23px;
  }
}
@media (max-width: 1024px) {
  .booker .booker__tipologia input {
    font-size: 12px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .booker .booker__tipologia input {
    font-size: 9px;
    height: 14px;
  }
}
@media (max-width: 575px) {
  .booker .booker__tipologia input {
    font-size: 15px;
    height: 20px;
  }
}
.booker .booker__tipologia select {
  font-size: 15px;
  height: 35px;
  border: solid 1px black;
}
@media (max-width: 1900px) {
  .booker .booker__tipologia select {
    font-size: 15px;
    height: 25px;
  }
}
@media (max-width: 1440px) {
  .booker .booker__tipologia select {
    font-size: 13px;
    height: 23px;
  }
}
@media (max-width: 1024px) {
  .booker .booker__tipologia select {
    font-size: 12px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .booker .booker__tipologia select {
    font-size: 9px;
    height: 14px;
  }
}
@media (max-width: 575px) {
  .booker .booker__tipologia select {
    font-size: 15px;
    height: 20px;
  }
}
.booker .booker__boton input {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  font-size: 25px;
  border: solid 3px rgb(228, 132, 6);
  background-color: black;
  color: white;
  cursor: pointer;
}
@media (max-width: 1900px) {
  .booker .booker__boton input {
    width: 130px;
    height: 40px;
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .booker .booker__boton input {
    width: 100px;
    height: 35px;
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .booker .booker__boton input {
    width: 80px;
    height: 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .booker .booker__boton input {
    width: 70px;
    height: 25px;
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .booker .booker__boton input {
    width: 75px;
    height: 35px;
    font-size: 17px;
    font-weight: bold;
  }
}

.tarjetas {
  margin: 3rem 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tarjeta {
  width: 750px;
  height: 360px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 0 12px #d7d7d7;
  display: flex;
  overflow: hidden;
}
@media (max-width: 768px) {
  .tarjeta {
    width: 650px;
    height: 355px;
  }
}
@media (max-width: 575px) {
  .tarjeta {
    width: 360px;
    height: 670px;
    flex-direction: column;
  }
}
.tarjeta .tarjeta__header {
  height: 360px;
  width: 360px;
}
.tarjeta .tarjeta__header img {
  border-radius: 8px 0 0 8px;
  max-width: 100%;
  height: auto;
}
@media (max-width: 575px) {
  .tarjeta .tarjeta__header img {
    border-radius: 8px 8px 0 0;
  }
}
.tarjeta .tarjeta__footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 0 1rem;
  width: 390px;
}
@media (max-width: 768px) {
  .tarjeta .tarjeta__footer {
    width: 290px;
    font-size: 15px;
  }
}
@media (max-width: 575px) {
  .tarjeta .tarjeta__footer {
    width: 360px;
    height: 310px;
  }
}
.tarjeta .tarjeta__footer .tarjeta__textos {
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 30px;
}
.tarjeta .tarjeta__footer .tarjeta__textos h3 {
  font-size: 90%;
  margin: 0;
}
@media (max-width: 768px) {
  .tarjeta .tarjeta__footer .tarjeta__textos h3 {
    font-size: 70%;
  }
}
@media (max-width: 575px) {
  .tarjeta .tarjeta__footer .tarjeta__textos h3 {
    font-size: 60%;
  }
}
.tarjeta .tarjeta__footer .tarjeta__textos p {
  padding-top: 10px;
  margin: 0;
  font-size: 60%;
  line-height: 23px;
}
@media (max-width: 768px) {
  .tarjeta .tarjeta__footer .tarjeta__textos p {
    font-size: 50%;
  }
}
.tarjeta .tarjeta__footer .tarjeta__link {
  margin: 1rem 0;
}
.tarjeta .tarjeta__footer .tarjeta__link span {
  background-color: rgb(228, 132, 6);
  color: black;
  font-weight: 500;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  margin-bottom: 4px;
}

.grilla {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.contenedorGrid {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 350px;
  gap: 10px;
}
@media (max-width: 1200px) {
  .contenedorGrid {
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: 350px;
  }
}
@media (max-width: 768px) {
  .contenedorGrid {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 250px);
  }
}
@media (max-width: 575px) {
  .contenedorGrid {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 150px);
  }
}
.contenedorGrid .contenedorGrid__imagen1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.contenedorGrid .contenedorGrid__imagen2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.contenedorGrid .contenedorGrid__imagen3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
@media (max-width: 1200px) {
  .contenedorGrid .contenedorGrid__imagen3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .contenedorGrid .contenedorGrid__imagen3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.contenedorGrid .contenedorGrid__imagen4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 1200px) {
  .contenedorGrid .contenedorGrid__imagen4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (max-width: 768px) {
  .contenedorGrid .contenedorGrid__imagen4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.contenedorGrid .contenedorGrid__imagen5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (max-width: 1200px) {
  .contenedorGrid .contenedorGrid__imagen5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (max-width: 768px) {
  .contenedorGrid .contenedorGrid__imagen5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
.contenedorGrid .contenedorGrid__imagen6 {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media (max-width: 1200px) {
  .contenedorGrid .contenedorGrid__imagen6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (max-width: 768px) {
  .contenedorGrid .contenedorGrid__imagen6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.contenedorGrid--celda {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.contenedorGrid--celda img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.contenedorGrid--celda img:hover {
  transform: scale(1.2);
}
.contenedorGrid--celda h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 31px;
  font-weight: 600;
  color: rgb(236, 224, 224);
  background-color: rgba(218, 99, 30, 0.685);
  border-radius: 5px;
  width: 250px;
  height: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .contenedorGrid--celda h3 {
    font-size: 30px;
    width: 220px;
    height: 40px;
  }
}
@media (max-width: 575px) {
  .contenedorGrid--celda h3 {
    font-size: 18px;
    width: 138px;
    height: 24px;
  }
}

.bloqueMapaLogin {
  width: 100%;
  background-color: black;
  color: white;
  height: auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 100px;
}
.bloqueMapaLogin .ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
@media (max-width: 1024px) {
  .bloqueMapaLogin .ubicacion {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .bloqueMapaLogin .ubicacion {
    justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .ubicacion {
    flex-direction: column;
  }
}
.bloqueMapaLogin .ubicacion .ubicacion__text {
  width: 450px;
  line-height: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1024px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text {
    font-size: 18px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text {
    width: 300px;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
  }
}
@media (max-width: 1024px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text h3 {
    font-weight: bold;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text h3 {
    font-size: 18px;
    margin-bottom: 3px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text p {
    margin-bottom: 8px;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .ubicacion .ubicacion__text p {
    margin: 0;
  }
}
.bloqueMapaLogin .ubicacion iframe {
  border-radius: 10px;
  height: 350px;
}
@media (max-width: 1024px) {
  .bloqueMapaLogin .ubicacion iframe {
    height: 300px;
    width: 450px;
  }
}
@media (max-width: 768px) {
  .bloqueMapaLogin .ubicacion iframe {
    height: 250px;
    width: 400px;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .ubicacion iframe {
    height: 250px;
    width: 350px;
  }
}
.bloqueMapaLogin .registro {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 575px) {
  .bloqueMapaLogin .registro {
    margin-top: 15px;
  }
}
.bloqueMapaLogin .registro .registro__textos {
  text-align: center;
}
@media (max-width: 575px) {
  .bloqueMapaLogin .registro .registro__textos {
    text-align: center;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .registro .registro__textos h3 {
    margin: 0;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .bloqueMapaLogin .registro .registro__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.bloqueMapaLogin .registro .registro__inputs input {
  width: 250px;
  height: 45px;
  border-radius: 50px;
  padding: 0 15px;
  margin-right: 5px;
}
.bloqueMapaLogin .registro .registro__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloqueMapaLogin .registro .registro__redes .registro__links {
  margin-top: 10px;
  font-size: 30px;
  word-spacing: 10px;
}
@media (max-width: 575px) {
  .bloqueMapaLogin .registro .registro__redes .registro__links {
    margin: 0;
  }
}
.bloqueMapaLogin .registro .registro__redes .registro__links a {
  color: white;
}

.foot {
  margin-top: 50px;
  width: 100%;
  height: 250px;
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1400px) {
  .foot {
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .foot {
    justify-content: space-evenly;
  }
}
@media (max-width: 1024px) {
  .foot {
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .foot {
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }
}
.foot .foot__img {
  height: 150px;
}
@media (max-width: 575px) {
  .foot .foot__img {
    height: 100px;
  }
}
.foot .foot__img img {
  width: 160px;
  height: 100px;
}
@media (max-width: 768px) {
  .foot .foot__img img {
    width: 130px;
    height: 75px;
  }
}
.foot .foot__contacto {
  display: flex;
  flex-direction: column;
  height: 130px;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .foot .foot__contacto {
    gap: 4px;
  }
}
.foot .foot__contacto span {
  font-size: 14px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .foot .foot__contacto span {
    font-size: 13px;
    font-weight: 900px;
  }
}
.foot .foot__grid {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
  .foot .foot__grid {
    width: 750px;
  }
}
@media (max-width: 1024px) {
  .foot .foot__grid {
    width: 650px;
  }
}
@media (max-width: 768px) {
  .foot .foot__grid {
    width: 480px;
    gap: 10px;
  }
}
@media (max-width: 575px) {
  .foot .foot__grid {
    display: none;
  }
}
.foot .foot__grid .foot__bloque1 {
  grid-column: 1/2;
}
.foot .foot__grid .foot__bloque2 {
  grid-column: 2/3;
}
.foot .foot__grid .foot__bloque3 {
  grid-column: 3/4;
}
.foot .foot__grid .foot__bloque4 {
  grid-column: 4/5;
}

.foot--bloques {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
@media (max-width: 1024px) {
  .foot--bloques {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 768px) {
  .foot--bloques {
    font-size: 12px;
    line-height: 20px;
  }
}

.foot--subtitulo {
  font-weight: bold;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .foot--subtitulo {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .foot--subtitulo {
    font-size: 14px;
  }
}

.carousel .carousel-inner .carousel-item .d-block {
  margin-top: 74px;
  height: 676px;
}
@media (max-width: 1900px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 576px;
  }
}
@media (max-width: 1440px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 506px;
  }
}
@media (max-width: 1200px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 426px;
  }
}
@media (max-width: 1024px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 326px;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 290px;
  }
}
@media (max-width: 575px) {
  .carousel .carousel-inner .carousel-item .d-block {
    height: 250px;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  font-size: 35px;
}
.carousel .carousel-inner .carousel-item .carousel-caption h5 {
  font-size: 100%;
}
@media (max-width: 1440px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 75%;
  }
}
@media (max-width: 1200px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 65%;
  }
}
@media (max-width: 1024px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 46%;
  }
}
@media (max-width: 575px) {
  .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    font-size: 35%;
  }
}
.carousel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 80%;
}
@media (max-width: 1440px) {
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 70%;
  }
}
@media (max-width: 1200px) {
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 60%;
  }
}
@media (max-width: 1024px) {
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 45%;
  }
}
@media (max-width: 768px) {
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 40%;
  }
}
@media (max-width: 575px) {
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 30%;
  }
}
.carousel .carousel-control-prev {
  margin-top: 74px;
}
.carousel .carousel-control-next {
  margin-top: 74px;
}

.tarjetas_hotel {
  height: auto;
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarjetas_hotel .tarjetas_hotel__avisos1 {
  width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media (max-width: 1440px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 {
    width: 1100px;
  }
}
@media (max-width: 1024px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 {
    width: 850px;
  }
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 {
    width: 650px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 {
    width: 380px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos {
  width: 100%;
  height: auto;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: start;
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos {
    text-align: center;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos h3 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos h3 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos h3 {
    font-size: 18px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos p {
  margin-bottom: 20px;
  font-size: 18px;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 .tarjetas_hotel__textos p {
    font-size: 16px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos1 img {
  max-width: 100%;
  height: 700px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 13px 10px 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 img {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 img {
    height: 300px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos1 img {
    height: 200px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 {
  width: 100%;
  height: auto;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab {
  width: 430px;
  height: 644px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin: 65px 15px;
  transition: 0.3s ease;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab:hover {
  box-shadow: 0 7px 19px 0 #DBDBDB;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab {
    width: 400px;
    height: 660px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__header img {
  max-width: 100%;
  height: 360px;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__header img {
    height: 350px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer {
  color: #000000;
  font-size: 18px;
  padding: 15px;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  text-decoration: underline;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  gap: 5px;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid1, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid3, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid5, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid7, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid9 {
  font-weight: bold;
  font-size: 16px;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid1, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid3, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid5, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid7, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid9 {
    font-size: 15px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid2, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid4, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid6, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid8, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid10 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid2, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid4, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid6, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid8, .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .grilla_tipo-hab .grid10 {
    font-size: 15px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjeta_tipo-hab .tarjeta_tipo-hab__footer .tarjeta_tipo-hab-text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1600px;
  margin-bottom: 25px;
}
@media (max-width: 1440px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text {
    width: 1100px;
  }
}
@media (max-width: 1024px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text {
    width: 850px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text {
    width: 650px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text {
    width: 380px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text h3 {
  color: white;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text h3 {
    font-size: 23px;
  }
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text h3 {
    font-size: 18px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text p {
  color: white;
  font-size: 18px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos2 .tarjetas_hotel__avisos2__text p {
    font-size: 16px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos3 {
  width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 1440px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 {
    width: 1100px;
  }
}
@media (max-width: 1024px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 {
    width: 850px;
  }
}
@media (max-width: 768px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 {
    width: 650px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 {
    width: 380px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos3 img {
  max-width: 100%;
  height: 700px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 13px -7px #000000, 0px 13px 10px 5px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1440px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 img {
    height: 500px;
  }
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 img {
    height: 400px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos3 .tarjetas_hotel__textos {
  text-align: center;
}
.tarjetas_hotel .tarjetas_hotel__avisos3 .tarjetas_hotel__textos h3 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  margin-bottom: 10px;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 .tarjetas_hotel__textos h3 {
    font-size: 18px;
  }
}
.tarjetas_hotel .tarjetas_hotel__avisos3 .tarjetas_hotel__textos p {
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 575px) {
  .tarjetas_hotel .tarjetas_hotel__avisos3 .tarjetas_hotel__textos p {
    font-size: 16px;
  }
}

.registro--modificador {
  margin-top: 50px;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.registro {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 575px) {
  .registro {
    margin-top: 15px;
  }
}
.registro .registro__textos {
  text-align: center;
}
@media (max-width: 575px) {
  .registro .registro__textos {
    text-align: center;
    font-size: 16px;
  }
}
.registro .registro__textos h3 {
  font-size: 28px;
  margin-bottom: 8px;
}
@media (max-width: 575px) {
  .registro .registro__textos h3 {
    margin: 0;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .registro .registro__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
.registro .registro__inputs input {
  width: 250px;
  height: 45px;
  border-radius: 50px;
  padding: 0 15px;
  margin-right: 5px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.registro .registro__inputs .registro__boton span {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.registro .registro__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro .registro__redes .registro__links {
  margin-top: 10px;
  font-size: 30px;
  word-spacing: 10px;
}
@media (max-width: 575px) {
  .registro .registro__redes .registro__links {
    margin: 0;
  }
}
.registro .registro__redes .registro__links a {
  color: white;
}

.exp-cent {
  margin-top: 74px;
  width: 100%;
  position: relative;
  font-size: 100px;
}
.exp-cent h1 {
  position: absolute;
  color: white;
  width: 100%;
  height: auto;
  font-size: 80%;
  text-align: center;
  top: 100px;
  font-weight: 900;
  text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255, 255, 255, 0.23);
  color: #FFFFFF;
}
@media (max-width: 1900px) {
  .exp-cent h1 {
    height: 576px;
  }
}
@media (max-width: 1440px) {
  .exp-cent h1 {
    height: 506px;
    font-size: 65%;
  }
}
@media (max-width: 1200px) {
  .exp-cent h1 {
    height: 426px;
    font-size: 60%;
  }
}
@media (max-width: 1024px) {
  .exp-cent h1 {
    height: 326px;
    font-size: 45%;
  }
}
@media (max-width: 768px) {
  .exp-cent h1 {
    height: 290px;
    font-size: 35%;
  }
}
@media (max-width: 575px) {
  .exp-cent h1 {
    height: 250px;
    font-size: 25%;
    top: 60px;
    padding: 15px;
  }
}
.exp-cent img {
  width: 100%;
  height: 676px;
}
@media (max-width: 1440px) {
  .exp-cent img {
    height: 506px;
  }
}
@media (max-width: 1200px) {
  .exp-cent img {
    height: 426px;
  }
}
@media (max-width: 1024px) {
  .exp-cent img {
    height: 326px;
  }
}
@media (max-width: 768px) {
  .exp-cent img {
    height: 290px;
  }
}
@media (max-width: 575px) {
  .exp-cent img {
    height: 250px;
  }
}

.tarjetas-exp-cent {
  width: 1400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 1400px) {
  .tarjetas-exp-cent {
    width: 100%;
  }
}
.imagen-fondo--body {
  background-image: url(../multimedia/img/probarfavi.png);
}

.portada-registro {
  margin-top: 74px;
  position: relative;
  background-image: url(../multimedia/img/portada-registro.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-size: 100px;
}
@media (max-width: 1440px) {
  .portada-registro {
    background-position-y: -100px;
  }
}
@media (max-width: 1200px) {
  .portada-registro {
    background-position-y: -150px;
  }
}
@media (max-width: 768px) {
  .portada-registro {
    background-position-y: -190px;
  }
}
@media (max-width: 575px) {
  .portada-registro {
    background-position-y: -300;
  }
}
.portada-registro h1 {
  color: white;
  width: 100%;
  height: 676px;
  font-size: 80%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 20px;
  font-weight: 900;
  text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255, 255, 255, 0.23);
  color: #FFFFFF;
}
@media (max-width: 1900px) {
  .portada-registro h1 {
    height: 576px;
  }
}
@media (max-width: 1440px) {
  .portada-registro h1 {
    height: 506px;
    font-size: 65%;
  }
}
@media (max-width: 1200px) {
  .portada-registro h1 {
    height: 426px;
    font-size: 50%;
  }
}
@media (max-width: 1024px) {
  .portada-registro h1 {
    height: 326px;
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .portada-registro h1 {
    font-size: 40%;
    height: 290px;
  }
}
@media (max-width: 575px) {
  .portada-registro h1 {
    font-size: 25%;
    height: 250px;
  }
}

.registro-bloque-Pr {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 100px 0;
}
@media (max-width: 1024px) {
  .registro-bloque-Pr {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .registro-bloque-Pr {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .registro-bloque-Pr {
    flex-direction: column;
    align-items: center;
  }
}
.registro-bloque-Pr .registro__pag-textos {
  background-color: rgba(228, 227, 227, 0.8784313725);
  padding: 20px;
  width: 570px;
  border-radius: 4px;
  margin-right: 150px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
@media (max-width: 1024px) {
  .registro-bloque-Pr .registro__pag-textos {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .registro-bloque-Pr .registro__pag-textos {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .registro-bloque-Pr .registro__pag-textos {
    width: 360px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .registro-bloque-Pr .registro__pag-textos span {
    font-size: 15px;
  }
}
.registro-bloque-Pr .registro__pag-textos h3 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin: 20px 0;
  color: rgb(228, 132, 6);
  font-weight: bold;
}
@media (max-width: 575px) {
  .registro-bloque-Pr .registro__pag-textos h3 {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .registro-bloque-Pr .registro__pag-textos p {
    font-size: 15px;
    line-height: 25px;
  }
}

.formulario {
  width: 400px;
  background-color: #24303c;
  padding: 30px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 7px 13px 37px #7a7474;
}
.formulario h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.formulario .formulario__input {
  width: 100%;
  background-color: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid rgb(228, 132, 6);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.formulario .formulario__term-cond {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 16px;
  font-size: 18px;
}
.formulario .formulario__boton {
  width: 100%;
  background-color: rgb(228, 132, 6);
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.portada-conocenos {
  margin-top: 74px;
  position: relative;
  font-size: 100px;
  width: 100%;
}
.portada-conocenos img {
  width: 100%;
  height: 676px;
}
@media (max-width: 1900px) {
  .portada-conocenos img {
    height: 576px;
  }
}
@media (max-width: 1440px) {
  .portada-conocenos img {
    height: 506px;
  }
}
@media (max-width: 1200px) {
  .portada-conocenos img {
    height: 426px;
  }
}
@media (max-width: 1024px) {
  .portada-conocenos img {
    height: 326px;
  }
}
@media (max-width: 768px) {
  .portada-conocenos img {
    height: 290px;
  }
}
@media (max-width: 575px) {
  .portada-conocenos img {
    height: 250px;
  }
}
.portada-conocenos h1 {
  position: absolute;
  color: white;
  width: 100%;
  height: 675px;
  font-size: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255, 255, 255, 0.23);
  color: #FFFFFF;
}
@media (max-width: 1900px) {
  .portada-conocenos h1 {
    height: 576px;
  }
}
@media (max-width: 1440px) {
  .portada-conocenos h1 {
    height: 506px;
    font-size: 80%;
    padding: 15px;
  }
}
@media (max-width: 1200px) {
  .portada-conocenos h1 {
    height: 426px;
    font-size: 75%;
  }
}
@media (max-width: 1024px) {
  .portada-conocenos h1 {
    height: 326px;
    font-size: 65%;
  }
}
@media (max-width: 768px) {
  .portada-conocenos h1 {
    height: 290px;
    font-size: 42%;
  }
}
@media (max-width: 575px) {
  .portada-conocenos h1 {
    height: 250px;
    font-size: 35%;
  }
}

.tarjetas-conocenos {
  width: 100%;
  height: auto;
  margin: 100px 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarjetas-conocenos .tarjetas-conocenos__card1 {
  width: 1200px;
  height: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 12px #d7d7d7;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 {
    width: 1000px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 {
    width: 600px;
    height: 1000px;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 {
    width: 400px;
    height: 750px;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header {
  overflow: hidden;
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header img {
  width: 600px;
  height: 500px;
  transition: transform 0.3s ease;
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header img:hover {
  transform: scale(1.2);
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header img {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header img {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjetas-conocenos__card__header img {
    width: 400px;
    height: 400px;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0;
  justify-content: space-around;
  font-size: 80px;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer {
    width: 400px;
    height: 600px;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer h3 {
  font-size: 60%;
  margin: 0;
  text-align: center;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer h3 {
    font-size: 50%;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer h3 {
    font-size: 30%;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer p {
  margin: 0;
  font-size: 27%;
  line-height: 29px;
  text-align: center;
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer p {
    font-size: 25%;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card1 .tarjeta__conocenos__card__footer p {
    font-size: 20%;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card2 {
  width: 1200px;
  height: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 12px #d7d7d7;
  display: flex;
  height: 500px;
  margin-top: 100px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 {
    width: 1000px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 {
    width: 600px;
    height: 1000px;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 {
    width: 400px;
    height: 900px;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0;
  justify-content: space-around;
  font-size: 80px;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 {
    width: 600px;
    height: 500px;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 {
    width: 400px;
    height: 600px;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 h3 {
  font-size: 50%;
  margin: 0;
  text-align: center;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 h3 {
    font-size: 40%;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 h3 {
    font-size: 30%;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 p {
  margin: 0;
  font-size: 27%;
  line-height: 29px;
  text-align: center;
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 p {
    font-size: 24%;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjeta__conocenos__card__header2 p {
    font-size: 20%;
  }
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 {
  overflow: hidden;
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 img {
  width: 600px;
  height: 500px;
  transition: transform 0.3s ease;
}
.tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 img:hover {
  transform: scale(1.2);
}
@media (max-width: 1200px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 img {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 img {
    width: 600px;
    height: auto;
  }
}
@media (max-width: 575px) {
  .tarjetas-conocenos .tarjetas-conocenos__card2 .tarjetas-conocenos__card__footer2 img {
    width: 400px;
    height: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
