%boton-con-efecto {
    background-color: $bg-color-button;
    height: 50px;
    width: 170px;
    border-radius: 50px;
    color: white;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: solid 3px $bg-color-button;
    @media (max-width:768px){
        height: 40px;
        width: 130px;
    }
    span {
        z-index: 2;
        @media (max-width:768px){
            font-size: 13px;
        }
    }
    &::after {
        content: "";
        width: 1px;
        height: 1px;
        background-color:none;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transition: .5s ease-in-out all;
        border-radius: 100px; 
    }
    &:hover {
        &::after {
            transform: scale(200);
            background-color: black; 
        }
    }
}

%tarj-exp-cent {
        width:410px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        
        overflow: hidden;
        box-shadow: $box-shadow;
        background-color: #f8f8f8;
        font-family: 'Gill Sans', Calibri, sans-serif;
        color: rgb(43, 41, 41);
        margin: 25px;
    
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
        .tarjeta-exp-cent__header img {
            width: 410px;
            height: 430px;
            object-fit: cover;
        }
        .tarjeta-exp-cent__footer {
            font-size: 20px;
            padding: 10px;
            text-align: center;
            h3 {
                font-size: 22px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
}