.formulario {
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 7px 13px 37px #7a7474;
    h4 {
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    .formulario__input {
        width: 100%;
        background-color: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(228, 132, 6);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
    }
    .formulario__term-cond {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 16px;
        font-size: 18px;
    }
    .formulario__boton {
        width: 100%;
        background-color:  rgb(228, 132, 6);
        border: none;
        padding: 12px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 4px;
    }
}