.menu__Hamb {
    color: white;
    font-size: 35px;
    display: none;
    @media (max-width:768px){
        display: block;
        order: -1;
        margin: 15px;
        &:hover + ul {
            left: 0px;
        }
    }
    @media (max-width:575px){
        font-size: 30px;
    }
}