@mixin boton-booker($bg,$color,$cb){
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-size: 25px;
    border: solid 3px $cb;
    background-color: $bg;
    color: $color;
    cursor: pointer;
    
    @media (max-width:1900px){
        width: 130px;
        height: 40px;
        font-size: 22px;
    }
    @media (max-width:1440px){
        width: 100px;
        height: 35px;
        font-size: 20px;
    }
    @media (max-width:1024px){
        width: 80px;
        height: 30px;
        font-size: 16px;
    }
    @media (max-width:768px){
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
    @media (max-width:575px){
        width: 75px;
        height: 35px;
        font-size: 17px;
        font-weight: bold;
    }
}