.exp-cent {
    margin-top: 74px;
    width: 100%;
    position: relative;
    font-size: 100px;
    h1 {
        position: absolute;
        color:white;
        width: 100%;
        height: 676px;
        font-size: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: $text-shadow;
        color: #FFFFFF;
        @media (max-width:1900px){
            height: 576px;
        }
        @media (max-width:1440px){
            height: 506px;
            font-size: 90%;
        }
        @media (max-width:1200px){
            height: 426px;
            font-size: 80%;
        }
        @media (max-width:1024px){
            height: 326px;
            font-size: 70%;
        }
        @media (max-width:768px){
            height: 290px;
            font-size: 55%;
        }
        @media (max-width:575px){
            height: 250px;
            font-size: 30%;
        }
    }
    img {
        width: 100%;
        height: 676px;
        @media (max-width:1440px){
            height: 506px;
        }
        @media (max-width:1200px){
            height: 426px;
        }
        @media (max-width:1024px){
            height: 326px;
        }
        @media (max-width:768px){
            height: 290px;
        }
        @media (max-width:575px){
            height: 250px;
        }
    }
}
