.tarjetas-exp-cent {
    width: 1400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width:1400px){
        width: 100%;
    }
    .tarjeta-exp-cent {
        @extend %tarj-exp-cent;
    }
}