.tarjetas_hotel {
    height: auto;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tarjetas_hotel__avisos1 {
        width: 1500px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media (max-width:1440px) {
            width: 1100px;
        }
        @media (max-width:1024px) {
            width: 850px;
        }
        @media (max-width:768px) {
            width: 650px;
        }
        @media (max-width:575px) {
            width: 380px;
        }
        .tarjetas_hotel__textos {
            width: 100%;
            height: auto;
            line-height: 30px;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            text-align: start;
            @media (max-width:768px) {
                text-align: center;
            }
            h3 {
                font-size: 25px;
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                margin-bottom: 10px;
                @media (max-width:768px) {
                    font-size: 20px;
                }
                @media (max-width:575px) {
                    font-size: 18px;
                }
            }
            p {
                margin-bottom: 20px;
                font-size: 18px;
                @media (max-width:575px) {
                    font-size: 16px;
                }
            }
        }
        img {
            max-width: 100%;
            height: 700px; 
            box-shadow: 0px 10px 13px -7px #000000, 0px 13px 10px 5px rgba(0,0,0,0.15);
            @media (max-width:1440px) {
                height: 500px;
            }
            @media (max-width:768px) {
                height: 300px;
            }
            @media (max-width:575px) {
                height: 200px;
            }
        }
    }
    .tarjetas_hotel__avisos2 {
        width: 100%;
        height: auto;
        background-color: rgb(59, 59, 59);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .tarjeta_tipo-hab {
            width: 430px;
            height: 644px;
            border-radius: 15px;
            overflow: hidden;
            background-color: white;
            margin: 65px 15px;
            transition: 0.3s ease;
            &:hover {
                box-shadow: 0 7px 19px 0 #DBDBDB;
            }
            @media (max-width:575px){
                width: 400px;
                height: 660px;
            }
            .tarjeta_tipo-hab__header {
                img {
                    max-width: 100%;
                    height: 360px;
                    @media (max-width:575px){
                        height: 350px;
                    }
                }
                
            }
            .tarjeta_tipo-hab__footer {
                color:#000000;
                font-size: 18px;
                padding: 15px;
                h3 {
                    font-family: 'Playfair Display', serif;
                    font-weight: 600;
                    margin-bottom: 15px;
                    font-size: 20px;
                    text-decoration: underline;
                }
                .grilla_tipo-hab {
                   display: grid;
                   grid-template-columns: 1fr 3fr;
                   grid-template-rows: 30px;
                   line-height: 30px;
                   margin-bottom: 15px;
                   gap: 5px;
                   .grid1,.grid3,.grid5,.grid7,.grid9 {
                        font-weight: bold;
                        font-size: 16px;
                        @media (max-width:575px){
                            font-size: 15px;
                        }
                   }
                   .grid2,.grid4,.grid6,.grid8,.grid10 {
                        font-size: 16px;
                        @media (max-width:575px){
                            font-size: 15px;
                        }
                   } 
                }
                .tarjeta_tipo-hab-text {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    button {
                        width: 180px;
                        height: 30px;
                        background-color: $bg-color-button;
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }
            }
        }
        .tarjetas_hotel__avisos2__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 1600px;
            margin-bottom: 25px;
            @media (max-width:1440px) {
                width: 1100px;
            }
            @media (max-width:1024px) {
                width: 850px;
                text-align: center;
            }
            @media (max-width:768px) {
                width: 650px;
            }
            @media (max-width:575px) {
                width: 380px;
            }
            h3 {
                color: white;
                font-size: 25px;
                font-family: 'Playfair Display', serif;
                text-decoration: underline;
                @media (max-width:1024px) {
                    font-size: 23px;
                }
                @media (max-width:768px) {
                    font-size: 18px;
                }
            }
            p {
                color: white;
                font-size: 18px;
                margin: 0;
                font-family: 'Montserrat', sans-serif;
                @media (max-width:768px) {
                    font-size: 16px;
                }
            }
            
        }
    }
    
    .tarjetas_hotel__avisos3 {
        width: 1500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        @media (max-width:1440px) {
            width: 1100px;
        }
        @media (max-width:1024px) {
            width: 850px;
        }
        @media (max-width:768px) {
            width: 650px;
        }
        @media (max-width:575px) {
            width: 380px;
        }
        img {
            max-width: 100%;
            height: 700px; 
            margin-bottom: 25px;
            box-shadow: 0px 10px 13px -7px #000000, 0px 13px 10px 5px rgba(0,0,0,0.15);
            @media (max-width:1440px) {
                height: 500px;
            }
            @media (max-width:575px) {
                height: 400px;
            }
        }
        .tarjetas_hotel__textos {
            text-align: center;
            h3 {
                font-size: 25px;
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                margin-bottom: 10px;
                @media (max-width:575px) {
                    font-size: 18px;
                }
            }
            p {
                margin-bottom: 20px;
                font-size: 18px;
                font-family: 'Montserrat', sans-serif;
                @media (max-width:575px) {
                    font-size: 16px;
                }
            }
        }
    }
}
#contenedorPrincipal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.65);
    #contenedorSecundario {
        width: 1000px;
        height: 700px;
        border: 2px #f3f3f3 solid;
        padding: 2px;
        display: flex;
        justify-content: center;
        position: relative;
        button {
            cursor: pointer;
            color: #f3f3f3;
            background-color: transparent;
            border: none;
        }
        #imagen-activa {
            width: 100%;
            height: 100%;
        }
        #btn-cierra {
            position: absolute;
            top: 0;
            right: 2%;
            font-size: 1.5rem;
            padding: 3px 8px;

        }
        #btn-retroceder {
            position: absolute;
            top: 50%;
            left: 2%;
            font-size: 2rem;
            padding: 3px 8px;
        }
        #btn-adelantar {
            position: absolute;
            top: 50%;
            right: 2%;
            font-size: 2rem;
            padding: 3px 8px;
        }
    }
    
}
