@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');

* {
    border:0;
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    @media (max-width:1900px){
        height: 650px;
    }
    @media (max-width:1440px){
        height: 580px;
    }
    @media (max-width:1200px){
        height: 500px;
    }
    @media (max-width:1024px){
        height: 400px;
    }
    @media (max-width:768px){
        height: 320px;
    }
    @media (max-width:575px){
        height: 250px;
    }

    .menu__links {
        height: 74px;
        background-color: black;
        position: fixed;
        width: 100%;
        z-index: 2;
        display: flex;
        align-items:center;
        justify-content: space-between;
        a img {
            width: 100px;
            height: 60px;
            @media (max-width:575px){
                width: 80px;
                height: 50px;
                margin: 0;
            }
        }
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            @media (max-width:768px){
                &:hover {
                    left: 0px;
                }
                position: fixed;
                top: 0;
                left: -55vw;
                background-color: white;
                flex-direction: column;
                align-items: start;
                padding: 10px;
                width: 55vw;
                height: 100vw;
                transition: 0.5s;
                border: solid black 1px;
            }
            li a {
                color: white;
                display: block;
                text-decoration:none;
                font-size: 1.3rem;
                padding: 5px 20px;
                @media (max-width:1024px){
                    font-size: 1rem;
                }
                @media (max-width:768px){
                    color: black;
                }
            }
        }
    }
    .video-portada {
        margin-top: 74px;
        @media (max-width:575px){
            margin-top: 60px;
        }
        video {
            width: 100%;
        }
        h1 {
            position: absolute;
            color:white;
            font-size: 4em;
            text-align: center;
            top: 250px;
            left: 50px;
            margin: 0;
            font-weight: 400;
            text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
            color: #FFFFFF;
            @media (max-width:1900px){
                left: 8%;
                font-size: 3.5em;
            }
            @media (max-width:1440px){
                left: 1%;
            }
            @media (max-width:1200px){
                font-size: 3em;
                top: 190px;
                left: 5px;
            }
            @media (max-width:1024px){
                font-size: 2.5em;
                top: 150px;
                left: 0;
            }
            @media (max-width:768px){
                font-size: 2em;
            }
            @media (max-width:575px){
                font-size: 1.5em;
                top: 120px;
                left: 0;
            }
        }
    }
}
.menu__Hamb {
    color: white;
    font-size: 35px;
    display: none;
    @media (max-width:768px){
        display: block;
        order: -1;
        margin: 15px;
        &:hover + ul {
            left: 0px;
        }
    }
    @media (max-width:575px){
        font-size: 30px;
    }
}

/*--------------------------------------------*/
.position575 {
    @media (max-width:575px){
        display: flex;
        justify-content: center;
    }
}
.booker {
    background-color: darkgray;
    width: 65%;
    height: 80px;
    border-radius: 50px;
    border: solid black 2px;
    position: relative;
    bottom: 40px;
    left: 310px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    @media (max-width:1900px){
        bottom: 40px;
        left: 300px;
    }
    @media (max-width:1440px){
        left: 230px;
        height: 55px;
        bottom: 30px;
    }
    @media (max-width:1200px){
        left: 180px;
        width: 70%;
        bottom: 30px;
    }
    @media (max-width:1024px){
        left: 90px;
        width: 80%;
        height: 55px;
    }
    @media (max-width:768px){
        left: 60px;
        height: 37px;
        bottom: 18px;
    }
    @media (max-width:575px){
        position: static;
        width: 350px;
        height: 220px;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 18px;
        margin-top: 10px;
    }
    .booker__tipologia  {
        font-size: 20px;
        font-weight: bolder;
        @media (max-width:1900px){
            font-size: 20px;
        }
        @media (max-width:1440px){
            font-size: 15px;
        }
        @media (max-width:1024px){
            font-size: 13px;
        }
        @media (max-width:768px){
            font-size: 10px;
            text-align: center;
        }
        @media (max-width:575px){
            display: flex;
            flex-direction: column;
            font-size: 20px;
        }
        input {
            font-size: 15px;
            height: 35px;
            border: solid 1px black;
            @media (max-width:1900px){
            font-size: 15px;
            height: 25px;
            }
            @media (max-width:1440px){
                font-size: 13px;
                height: 23px;
            }
            @media (max-width:1024px){
                font-size: 12px;
                height: 20px;
            }
            @media (max-width:768px){
                font-size: 9px;
                height: 14px;
            }
            @media (max-width:575px){
                font-size: 15px;
                height: 20px;
            }
        }
        select {
            font-size: 15px;
            height: 35px;
            border: solid 1px black;
            @media (max-width:1900px){
                font-size: 15px;
                height: 25px;
            }
            @media (max-width:1440px){
                font-size: 13px;
                height: 23px;
            }
            @media (max-width:1024px){
                font-size: 12px;
                height: 20px;
            }
            @media (max-width:768px){
                font-size: 9px;
                height: 14px;
            }
            @media (max-width:575px){
                font-size: 15px;
                height: 20px;
            }
        }
    }
    .booker__boton input {
        width: 150px;
        height: 45px;
        border-radius: 50px;
        font-size: 25px;
        border: solid 2px black;
        cursor: pointer;
        @media (max-width:1900px){
            width: 130px;
            height: 40px;
            font-size: 22px;
        }
        @media (max-width:1440px){
            width: 100px;
            height: 35px;
            font-size: 20px;
        }
        @media (max-width:1024px){
            width: 80px;
            height: 30px;
            font-size: 16px;
        }
        @media (max-width:768px){
            width: 70px;
            height: 25px;
            font-size: 12px;
        }
        @media (max-width:575px){
            width: 75px;
            height: 35px;
            font-size: 17px;
            font-weight: bold;
        }
    }
}

/*--------------------------------------------*/
.tarjetas {
    margin: 3rem 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tarjeta {
    max-width: 750px;
    height: 360px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
    display: flex;
    @media (max-width:768px){
        max-width: 650px;
        height: 355px;
    }
    @media (max-width:575px){
        max-width: 360px;
        height: 640px;
        flex-direction: column;
    }
    .tarjeta__header img {
        border-radius: 8px 0 0 8px;
        height: 360px;
        width: 360px;
    }
    .tarjeta__footer{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        padding: 0 1rem;
        width: 390px;
        @media (max-width:768px){
            width: 290px;
            font-size: 15px;
        }
        @media (max-width:575px){
            width: 360px;
            height: 280px;
        }
        .tarjeta__textos {
            padding: 10px 0 0 0;
            margin: 0;
            h3 {
                font-size: 26px;
                margin: 0;
                @media (max-width:768px){
                    font-size: 19px;
                }
            }
            p {
                padding-top: 10px;
                margin: 0;
                font-size: 16px;
                line-height: 23px;
                @media (max-width:768px){
                    font-size: 15px;
                }
            }
        }
        .tarjeta__link {
            margin: 1rem 0;
            span {
                background-color: rgb(228, 132, 6);
                color:black;
                font-weight: 500;
                padding: .2rem .5rem;
                border-radius: 4px;
                margin-bottom: 4px;
            }
        }
    }
}

/*--------------------------------------------*/
.grilla {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Times New Roman', Times, serif;
}
.contenedorGrid {
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-template-rows: 350px;
    gap: 10px;
    @media (max-width:1200px){
        grid-template-columns: repeat(2,350px);
        grid-template-rows: 350px;
    }
    @media (max-width:768px){
        grid-template-columns: repeat(2,250px);
        grid-template-rows: repeat(3,250px);
    }
    @media (max-width:575px){
        grid-template-columns: repeat(2,150px);
        grid-template-rows: repeat(3,150px);
    }
    .contenedorGrid__imagen1 {
        grid-column: 1/2 ;
        grid-row: 1/2;
    }
    .contenedorGrid__imagen2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .contenedorGrid__imagen3 {
        grid-column: 3/4;
        grid-row: 1/2;
        @media (max-width:1200px){
            grid-column: 1/2;
            grid-row: 2/3;
        }
        @media (max-width:768px){
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    .contenedorGrid__imagen4 {
        grid-column: 1/2;
        grid-row: 2/3;
        @media (max-width:1200px){
            grid-column: 2/3;
            grid-row: 2/3;
        }
        @media (max-width:768px){
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    .contenedorGrid__imagen5 {
        grid-column: 2/3;
        grid-row: 2/3;
        @media (max-width:1200px){
            grid-column: 1/2;
            grid-row: 3/4;
        }
        @media (max-width:768px){
            grid-column: 1/2;
            grid-row: 3/4;
        }
    }
    .contenedorGrid__imagen6 {
        grid-column: 3/4;
        grid-row: 2/3;
        @media (max-width:1200px){
            grid-column: 2/3;
            grid-row: 3/4;
        }
        @media (max-width:768px){
            grid-column: 2/3;
            grid-row: 3/4;
        }
    }
}
.contenedorGrid--celda {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    img {
        width: 350px;
        height: 350px;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.2);
        }
    }
    h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        font-family: 'Playfair Display', serif;
        font-size: 31px;
        font-weight: 600;
        color: rgb(236, 224, 224);
        background-color: rgba(218, 99, 30, 0.685);
        border-radius: 5px;
        width: 250px;
        height: 40px;
        text-align:center;
        @media (max-width:768px){
            font-size: 30px;
            width: 220px;
            height: 40px;
        }
        @media (max-width:575px){
            font-size: 18px;
            width: 138px;
            height: 24px;
        }
    }
}
/*--------------------------------------------*/
.bloqueMapaLogin {
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    .ubicacion {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        @media (max-width:1024px){
            justify-content: space-around;
        }
        @media (max-width:768px){
            justify-content: space-around;
        }
        @media (max-width:575px){
            flex-direction: column;
        }
        .ubicacion__text {
            width: 450px;
            line-height: 25px;
            margin-right: 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width:1024px){
                font-size: 18px;
                margin: 0;
            }
            @media (max-width:768px){
                width: 300px;
                font-size: 16px;
            }
            @media (max-width:575px){
                font-size: 16px;
                text-align: center;
                margin: 15px 0;
            }
            h3 {
                @media (max-width:1024px){
                    font-size: 20px;
                }
                @media (max-width:768px){
                    font-weight: bold;
                }
                @media (max-width:575px){
                    font-size: 18px;
                    margin-bottom: 3px;
                    line-height: 25px;
                }
            }
            p {
                @media (max-width:768px){
                    margin-bottom: 8px;
                }
                @media (max-width:575px){
                    margin: 0;
                }
            }
        }
        iframe {
            border-radius: 10px;
            height: 350px;
            @media (max-width:1024px){
                height: 300px;
                width: 450px;
            }
            @media (max-width:768px){
                height: 250px;
                width: 400px;
            }
            @media (max-width:575px){
                height: 250px;
                width: 350px;
            }
        }
    }
    .registro {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        @media (max-width:575px){
            margin-top: 15px;
        }
        .registro__textos {
            text-align: center;
            @media (max-width:575px){
                text-align: center;
                font-size: 16px;
            }
            h3 {
                @media (max-width:575px){
                    margin: 0;
                    font-size: 20px;
                }
            }
        }
        .registro__inputs {
            @media (max-width:575px){
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }
            input {
            width: 250px;
            height: 45px;
            border-radius: 50px;
            padding: 0 15px;
            margin-right: 5px;
            }
            .registro__boton {
                background-color: rgb(228, 132, 6);
                height: 45px;
                width: 140px;
                border-radius: 50px;
                color: white;
                font-size: 14px;
                font-weight:900 ;
                
                display: inline-flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease all;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                border: solid 3px rgb(228, 132, 6);
                span {
                    z-index: 2;
                }
                &::after {
                    content: "";
                    width: 1px;
                    height: 1px;
                    background-color:none;
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transition: .5s ease-in-out all;
                    border-radius: 100px;  
                }
                &:hover {
                    &::after {
                        transform: scale(200);
                        background-color: black;
                    }
                }
            }
        }
        .registro__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            .registro__links {
                margin-top: 10px;
                font-size: 30px;
                word-spacing: 10px;
                @media (max-width:575px){
                    margin: 0;
                }
                a {
                    color: white;
                }
            }
        }
    }
}

/*--------------------------------------------*/
.foot {
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    @media (max-width:1400px){
        justify-content: space-between;
    }
    @media (max-width:1200px){
        justify-content: space-evenly;
    }
    @media (max-width:1024px){
        justify-content: space-between;
    }
    @media (max-width:575px){
        flex-direction: column;
        height: 300px;
        justify-content: space-evenly;
    }
    .foot__img {
        height: 150px;
        @media (max-width:575px){
            height: 100px;
        }
        img {
            width: 160px;
            height: 100px;
            @media (max-width:768px){
                width: 130px;
                height: 75px;
            }
        }   
    }
    .foot__contacto{
        display: flex;
        flex-direction: column;
        height: 130px;
        align-items: center;
        gap: 10px;
        @media (max-width:768px){
            gap: 4px;
        }
        span {
            font-size: 14px;
            font-weight: 900;
            @media (max-width:768px){
                font-size: 13px;
                font-weight: 900px;
            }
        }
        .foot__boton {
            background-color: rgb(228, 132, 6);
            height: 50px;
            width: 170px;
            border-radius: 50px;
            color: white;
            
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: .3s ease all;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border: solid 3px rgb(228, 132, 6);
            @media (max-width:768px){
                height: 40px;
                width: 130px;
            }
            span {
                z-index: 2;
                @media (max-width:768px){
                    font-size: 13px;
                }
            }
            &::after {
                content: "";
                width: 1px;
                height: 1px;
                background-color:none;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transition: .5s ease-in-out all;
                border-radius: 100px; 
            }
            &:hover {
                &::after {
                    transform: scale(200);
                    background-color: black; 
                }
            }

        }
    }
    .foot__grid {
        width: 1050px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        @media (max-width:1200px){
            width: 750px;
        }
        @media (max-width:1024px){
            width: 650px;
        }
        @media (max-width:768px){
            width: 480px;
            gap: 10px;
        }
        @media (max-width:575px){
            display: none;
        }
        .foot__bloque1 {
            grid-column: 1/2;
        }
        .foot__bloque2 {
            grid-column: 2/3;
        }
        .foot__bloque3 {
            grid-column: 3/4;
        }
        .foot__bloque4 {
            grid-column: 4/5;
        }
    }
}
.foot--bloques {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    @media (max-width:1024px){
        font-size: 14px;
        line-height: 25px;
    }
    @media (max-width:768px){
        font-size: 12px;
        line-height: 20px;
    }
}
.foot--subtitulo {
    font-weight: bold;
    font-size: 18px;
    @media (max-width:1024px){
        font-size: 16px;
    }
    @media (max-width:768px){
        font-size: 14px;
    }
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*------1.hotel--------*/
.menu--modificador {
    height: 624px;
    @media (max-width:1024px){
        height: 450px;
    }
    @media (max-width:768px){
        height: 450px;
    }
    @media (max-width:575px){
        height: 350px;
    }
}
.d-block {
    margin-top: 74px;
    max-height:550px;
    object-fit: cover;
}
.carousel-caption {
    font-size: 35px;
    @media (max-width:1200px){
        font-size: 20px;
        bottom: 100px;
    }
    @media (max-width:1024px){
        font-size: 17px;
        bottom: 160px;
    }
    @media (max-width:575px){
        font-size: 12px;
        bottom: 120px;
    }
    p {
        @media (max-width:768px){
            display: none;
        }
    }
    h5 {
        @media (max-width:768px){
            display: none;
        }
    }
}
.carousel-control-prev {
    @media (max-width:1200px){
        bottom: 90px;
    }
    @media (max-width:768px){
        bottom: 80px;
    }
    @media (max-width:575px){
        bottom: 20px;
    }
}
.carousel-control-next {
    @media (max-width:1200px){
        bottom: 90px;
    }
    @media (max-width:768px){
        bottom: 80px;
    }
    @media (max-width:575px){
        bottom: 20px;
    }
}
.registro--modificador {
    margin-top: 50px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.registro {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .registro__textos {
        text-align: center;
    }
    .registro__inputs {
        input {
        width: 250px;
        height: 45px;
        border-radius: 50px;
        padding: 0 15px;
        margin-right: 5px;
        }
        .registro__boton {
            background-color: rgb(228, 132, 6);
            height: 45px;
            width: 140px;
            border-radius: 50px;
            color: white;
            font-size: 14px;
            font-weight:900 ;
            
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: .3s ease all;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border: solid 3px rgb(228, 132, 6);
            span {
                z-index: 2;
            }
            &::after {
                content: "";
                width: 1px;
                height: 1px;
                background-color:none;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transition: .5s ease-in-out all;
                border-radius: 100px;  
            }
            &:hover {
                &::after {
                    transform: scale(200);
                    background-color: black;
                }
            }
        }
    }
    .registro__redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        .registro__links {
            margin-top: 10px;
            font-size: 30px;
            word-spacing: 10px;
            a {
                color: white;
            }
        }
    }
}
.tarjetas_hotel {
    background-color: #d8d6d6;
    height: auto;
    width: 100%;
    margin-top: 40px;
    .tarjetas_hotel__avisos {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .tarjetas_hotel__textos {
            width: 850px;
            padding: 15px;
            height: 850px;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width:1400px){
                width: 650px;
                height: 650px;
                font-size: 20px;
                line-height: 35px;
            }
            @media (max-width:1200px){
                width: 550px;
                height: 550px;
                font-size: 18px;
                line-height: 30px;
            }
            @media (max-width:1024px){
                width: 500px;
                height: 500px;
                font-size: 17px;
                line-height: 28px;
            }
            @media (max-width:768px){
                width: 400px;
                height: 400px;
                font-size: 14px;
                line-height: 23px;
            }
            @media (max-width:575px){
                width: 320px;
                height: 350px;
                font-size: 10px;
                line-height: 20px;
            }
            h3 {
                margin-bottom: 15px;
                font-size: 45px;
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                text-decoration: underline;
                @media (max-width:1400px){
                    font-size: 35px;
                }
                @media (max-width:1200px){
                    font-size: 28px;
                }
                @media (max-width:1024px){
                    font-size: 25px;
                }
                @media (max-width:768px){
                    font-size: 20px;
                }
                @media (max-width:575px){
                    font-size: 13px;
                }
            }
        }
        img {
            border-radius: 20px;
            width: 700px;
            height: 700px;
            -webkit-box-shadow: 2px 5px 16px 0px #414346, 38px 7px 12px -3px rgba(0,0,0,0); 
            box-shadow: 2px 5px 16px 0px #303233, 38px 7px 12px -3px rgba(0,0,0,0);
            background: #1C6EA4;
            @media (max-width:1400px){
                width: 600px;
                height: 600px;
            }
            @media (max-width:1200px){
                width: 500px;
                height: 500px;
            }
            @media (max-width:1024px){
                width: 450px;
                height: 450px;
            }
            @media (max-width:768px){
                width: 400px;
                height: 400px;
                margin-bottom: 25px;
            }
            @media (max-width:575px){
                width: 300px;
                height: 300px;
                margin-bottom: 25px;
            }
        }
    }
}

/*--------------------------------------------*/
/*--------------------------------------------*/
/*------2.Exp Cent--------*/
.exp-cent {
    margin-top: 74px;
    height: 550px;
    background-image: url(../multimedia/img/carrusel1.jpeg);
    background-position-y: -150px;
    h1 {
        color:white;
        width: 100%;
        height: 550px;
        font-size: 6em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
        color: #FFFFFF;
        @media (max-width:1024px){
            height: 300px;
            font-size: 4em;
        }
        @media (max-width:575px){
            height: 200px;
            font-size: 2em;
        }
    }
}

.tarjetas-exp-cent {
    width: 1400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    @media (max-width:1400px){
        width: 100%;
    }
    .tarjeta-exp-cent {
        width:410px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        
        overflow: hidden;
        box-shadow: 0 0 12px #d7d7d7;
        background-color: #f8f8f8;
        font-family: 'Gill Sans', Calibri, sans-serif;
        color: rgb(43, 41, 41);
        margin: 25px;
    
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
        .tarjeta-exp-cent__header img {
            width: 410px;
            height: 430px;
            object-fit: cover;
        }
        .tarjeta-exp-cent__footer {
            font-size: 20px;
            padding: 10px;
            text-align: center;
            h3 {
                font-size: 23px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*------3.registro--------*/
.imagen-fondo--body {
    background-image: url(../multimedia/img/probarfavi.png);  
}
.portada-registro {
    margin-top: 74px;
    height: 550px;
    background-image: url(../multimedia/img/carrusel1.jpeg);
    background-attachment: fixed;
    background-position-y: -150px;
    @media (max-width:1024px){
        background-position-y:-200px;
    }
    @media (max-width:768px){
        background-position-y:-300px;
    }
    h1 {
        color:white;
        width: 100%;
        height: 550px;
        font-size: 6em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
        color: #FFFFFF;
        @media (max-width:1024px){
            font-size: 4em;
        }
        @media (max-width:768px){
            font-size: 3em;
            height: 450px;
        }
        @media (max-width:575px){
            font-size: 2em;
            height: 350px;
        }
    }
}


.registro-bloque-Pr {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 150px 0;
    @media (max-width:1024px){
        width: 100%;
        justify-content: space-around;
    }
    @media (max-width:768px){
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:575px){
        flex-direction: column;
        align-items: center;
    }
    .registro__pag-textos {
        background-color: #e4e3e3e0;
        padding: 20px;
        width: 570px;
        border-radius: 4px;
        margin-right: 150px;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        line-height: 30px;
        color: black;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        @media (max-width:1024px){
            margin-right: 0;
        }
        @media (max-width:768px){
            margin-right: 0;
            margin-bottom: 25px;
        }
        @media (max-width:575px){
            width: 360px;
            margin-right: 0;
            margin-bottom: 25px;
        }
        span {
            @media (max-width:575px){
                font-size: 15px;
            }
        }
        h3 {
            font-family: 'Playfair Display', serif;
            font-size: 40px;
            margin: 20px 0;
            color:  rgb(228, 132, 6);
            font-weight: bold;
            @media (max-width:575px){
                font-size: 25px;
            }
        }
        p {
            @media (max-width:575px){
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
    .formulario {
        width: 400px;
        background-color: #24303c;
        padding: 30px;
        border-radius: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 7px 13px 37px #7a7474;
        h4 {
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
        }
        .formulario__input {
            width: 100%;
            background-color: #24303c;
            padding: 10px;
            border-radius: 4px;
            margin-bottom: 16px;
            border: 1px solid rgb(228, 132, 6);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 18px;
        }
        .formulario__term-cond {
            display: inline-flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 16px;
            font-size: 18px;
        }
        .formulario__boton {
            width: 100%;
            background-color:  rgb(228, 132, 6);
            border: none;
            padding: 12px;
            color: white;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
        }
    }
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*------4.Conocenos--------*/
.portada-conocenos {
    margin-top: 74px;
    height: 550px;
    background-image: url(../multimedia/img/carrusel1.jpeg);
    background-position-y: -200px;
    h1 {
        color:white;
        width: 100%;
        height: 550px;
        font-size: 6em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
        color: #FFFFFF;
        @media (max-width:1024px){
            height: 350px;
        }
        @media (max-width:768px){
            height: 350px;
            font-size: 75px;
        }
        @media (max-width:575px){
            height: 250px;
            font-size: 60px;
        }
    }  
}
.tarjetas-conocenos {
    width: 100%;
    height: auto;
    margin: 150px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tarjetas-conocenos__card1 {
        width: 1200px;
        height: 500px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 12px #d7d7d7;
        display: flex;
        margin-bottom: 100px;
        @media (max-width:1024px){
            width: auto;
            height: auto;
        }
        @media (max-width:768px){
            flex-direction: column;
        }
        .tarjetas-conocenos__card__header img {
            border-radius: 8px 0 0 8px;
            height: 500px;
            width: 550px;
            @media (max-width:1024px){
                height: 450px;
                width: 500px;
            }
            @media (max-width:768px){
                height: 450px;
                width: 350px;
                border-radius: 8px 8px 0 0;
            }
            @media (max-width:575px){
                height: 350px;
                width: 420px;
            }
        }
        .tarjeta__conocenos__card__footer {
            width: auto;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 0;
            justify-content: space-around;
            @media (max-width:1024px){
                width: 524px;
                justify-content: space-evenly;
                padding: 0;
            }
            @media (max-width:575px){
                width: auto;
            }
            h3 {
                font-size: 40px;
                margin: 0;
                text-align: center;
                @media (max-width:1024px){
                    font-size: 36px;
                }
                @media (max-width:768px){
                    font-size: 30px;
                }
                @media (max-width:575px){
                    font-size: 21px;
                }
            }
            p {
                padding-top: 10px;
                margin: 0;
                font-size: 23px;
                line-height: 29px;
                @media (max-width:1024px){
                    width: 510px;
                    padding-top: 0;
                    padding-left: 10px;
                    margin: 0;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                }
                @media (max-width:768px){
                    width: 524px;
                    padding: 10px;
                    font-size: 16px;
                }
                @media (max-width:575px){
                    width: 420px;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    .tarjetas-conocenos__card2 {
        width: 1200px;
        height: 500px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 12px #d7d7d7;
        display: flex;
        @media (max-width:1024px){
            width: auto;
            height: auto;
        }
        @media (max-width:768px){
            flex-direction: column;
        }
        .tarjeta__conocenos__card__footer {
            width: auto;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 0;
            justify-content: space-around;
            @media (max-width:1024px){
                width: 524px;
                justify-content: space-evenly;
                padding: 0;
            }
            @media (max-width:575px){
                width: auto;
            }
            h3 {
                font-size: 40px;
                margin: 0;
                text-align: center;
                @media (max-width:1024px){
                    font-size: 36px;
                }
                @media (max-width:768px){
                    font-size: 30px;
                }
                @media (max-width:575px){
                    font-size: 21px;
                }
            }
            p {
                padding-top: 10px;
                margin: 0;
                font-size: 23px;
                line-height: 29px;
                @media (max-width:1024px){
                    width: 510px;
                    padding-top: 0;
                    padding-left: 10px;
                    margin: 0;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                }
                @media (max-width:768px){
                    width: 524px;
                    padding: 10px;
                    font-size: 16px;
                }
                @media (max-width:575px){
                    width: 420px;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
        .tarjetas-conocenos__card__header img {
            border-radius: 8px 0 0 8px;
            height: 500px;
            width: 550px;
            @media (max-width:1024px){
                height: 450px;
                width: 500px;
            }
            @media (max-width:768px){
                height: 450px;
                width: 350px;
                border-radius: 8px 8px 0 0;
            }
            @media (max-width:575px){
                height: 350px;
                width: 420px;
            }
        } 
        .card--img--modificadora img {
            border-radius: 0 8px 8px 0;
            @media (max-width:768px){
                border-radius: 0 0 8px 8px;
            }
        }
    }
}