@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');

@import "reset";
@import "NavBar";
@import "MenuHamb";
@import "booker";
@import "tarjetas-index";
@import "grillaGrid";
@import "Ubic-Regist";
@import "footer";
@import "carusel-edit";
@import "portada-img-exp-cent";
@import "bloque-regist";
@import "form-regist";

.menu {
    width: 100%;
    height: 750px;
    position: relative;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    @media (max-width:1900px){
        height: 650px;
    }
    @media (max-width:1440px){
        height: 580px;
    }
    @media (max-width:1200px){
        height: 500px;
    }
    @media (max-width:1024px){
        height: 400px;
    }
    @media (max-width:768px){
        height: 320px;
    }
    @media (max-width:575px){
        height: 250px;
    }
    .video-portada {
        margin-top: 74px;
        font-size: 30px;
        @media (max-width:575px){
            margin-top: 60px;
        }
        video {
            width: 100%;
        }
        h1 {
            position: absolute;
            color:white;
            font-size: 300%;
            text-align: center;
            top: 250px;
            margin: 0;
            font-weight: 400;
            text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
            color: #FFFFFF;
            @media (max-width:1440px){
                font-size: 240%;
            }
            @media (max-width:1200px){
                font-size: 210%;
                top: 190px;
            }
            @media (max-width:1024px){
                font-size: 180%;
                top: 150px;
            }
            @media (max-width:768px){
                font-size: 140%;
            }
            @media (max-width:575px){
                font-size: 90%;
                top: 120px;
            }
        }
    }
}
/*--------------------------------------------*/
.position575 {
    @media (max-width:575px){
        display: flex;
        justify-content: center;
    }
}

/*------1.hotel--------*/
.menu--modificador {
    height: 624px;
    @media (max-width:1024px){
        height: 450px;
    }
    @media (max-width:575px){
        height: 350px;
    }
}
.tarjetas_hotel {
    background-color: #d8d6d6;
    height: auto;
    width: 100%;
    margin-top: 40px;
    .tarjetas_hotel__avisos {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .tarjetas_hotel__textos {
            width: 850px;
            padding: 15px;
            height: 850px;
            font-size: 25px;
            line-height: 40px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width:1400px){
                width: 650px;
                height: 650px;
                font-size: 20px;
                line-height: 35px;
            }
            @media (max-width:1200px){
                width: 550px;
                height: 550px;
                font-size: 18px;
                line-height: 30px;
            }
            @media (max-width:1024px){
                width: 500px;
                height: 500px;
                font-size: 17px;
                line-height: 28px;
            }
            @media (max-width:768px){
                width: 400px;
                height: 400px;
                font-size: 14px;
                line-height: 23px;
            }
            @media (max-width:575px){
                width: 320px;
                height: 350px;
                font-size: 10px;
                line-height: 20px;
            }
            h3 {
                margin-bottom: 15px;
                font-size: 45px;
                font-family: 'Playfair Display', serif;
                font-weight: 800;
                text-decoration: underline;
                @media (max-width:1400px){
                    font-size: 35px;
                }
                @media (max-width:1200px){
                    font-size: 28px;
                }
                @media (max-width:1024px){
                    font-size: 25px;
                }
                @media (max-width:768px){
                    font-size: 20px;
                }
                @media (max-width:575px){
                    font-size: 13px;
                }
            }
        }
        img {
            border-radius: 20px;
            width: 700px;
            height: 700px;
            -webkit-box-shadow: 2px 5px 16px 0px #414346, 38px 7px 12px -3px rgba(0,0,0,0); 
            box-shadow: 2px 5px 16px 0px #303233, 38px 7px 12px -3px rgba(0,0,0,0);
            background: #1C6EA4;
            @media (max-width:1400px){
                width: 600px;
                height: 600px;
            }
            @media (max-width:1200px){
                width: 500px;
                height: 500px;
            }
            @media (max-width:1024px){
                width: 450px;
                height: 450px;
            }
            @media (max-width:768px){
                width: 400px;
                height: 400px;
                margin-bottom: 25px;
            }
            @media (max-width:575px){
                width: 300px;
                height: 300px;
                margin-bottom: 25px;
            }
        }
    }
}
/*------2.Exp Cent--------*/

.tarjetas-exp-cent {
    width: 1400px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (max-width:1400px){
        width: 100%;
    }
    .tarjeta-exp-cent {
        width:410px;
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        
        overflow: hidden;
        box-shadow: 0 0 12px #d7d7d7;
        background-color: #f8f8f8;
        font-family: 'Gill Sans', Calibri, sans-serif;
        color: rgb(43, 41, 41);
        margin: 25px;
    
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
        .tarjeta-exp-cent__header img {
            width: 410px;
            height: 430px;
            object-fit: cover;
        }
        .tarjeta-exp-cent__footer {
            font-size: 20px;
            padding: 10px;
            text-align: center;
            h3 {
                font-size: 23px;
                text-align: center;
                margin-bottom: 5px;
            }
        }
    }
}
/*------3.registro--------*/
.imagen-fondo--body {
    background-image: url(../multimedia/img/probarfavi.png);  
}
.portada-registro {
    margin-top: 74px;
    height: 550px;
    background-image: url(../multimedia/img/carusel1.jpg);
    background-attachment: fixed;
    background-position-y: -150px;
    font-size: 100px;
    @media (max-width:1440px){
        background-size: contain;
        background-position-y:top;
    }
    @media (max-width:768px){
        background-position-y: 70px;
    }
    @media (max-width:575px){
        background-position-y:75px;
    }
    h1 {
        color:white;
        width: 100%;
        height: 550px;
        font-size: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
        color: #FFFFFF;
        @media (max-width:1200px){
            font-size: 80%;
        }
        @media (max-width:1024px){
            height: 376px;
            font-size: 60%;
        }
        @media (max-width:768px){
            font-size: 55%;
            height: 376px;
        }
        @media (max-width:575px){
            font-size: 45%;
            height: 276px;
        }
    }
}
.registro-bloque-Pr {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 150px 0;
    @media (max-width:1024px){
        width: 100%;
        justify-content: space-around;
    }
    @media (max-width:768px){
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:575px){
        flex-direction: column;
        align-items: center;
    }
    .registro__pag-textos {
        background-color: #e4e3e3e0;
        padding: 20px;
        width: 570px;
        border-radius: 4px;
        margin-right: 150px;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        line-height: 30px;
        color: black;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        @media (max-width:1024px){
            margin-right: 0;
        }
        @media (max-width:768px){
            margin-right: 0;
            margin-bottom: 25px;
        }
        @media (max-width:575px){
            width: 360px;
            margin-right: 0;
            margin-bottom: 25px;
        }
        span {
            @media (max-width:575px){
                font-size: 15px;
            }
        }
        h3 {
            font-family: 'Playfair Display', serif;
            font-size: 40px;
            margin: 20px 0;
            color:  rgb(228, 132, 6);
            font-weight: bold;
            @media (max-width:575px){
                font-size: 25px;
            }
        }
        p {
            @media (max-width:575px){
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}
/*------4.Conocenos--------*/
.portada-conocenos {
    margin-top: 74px;
    height: 550px;
    background-image: url(../multimedia/img/carusel1.jpg);
    background-position-y: -200px;
    h1 {
        color:white;
        width: 100%;
        height: 550px;
        font-size: 6em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        text-shadow: 3px 5px 2px #474747, 32px 20px 9px rgba(255,255,255,0.23);
        color: #FFFFFF;
        @media (max-width:1024px){
            height: 350px;
        }
        @media (max-width:768px){
            height: 350px;
            font-size: 75px;
        }
        @media (max-width:575px){
            height: 250px;
            font-size: 60px;
        }
    }  
}
.tarjetas-conocenos {
    width: 100%;
    height: auto;
    margin: 150px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .tarjetas-conocenos__card1 {
        width: 1200px;
        height: 500px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 12px #d7d7d7;
        display: flex;
        margin-bottom: 100px;
        @media (max-width:1024px){
            width: auto;
            height: auto;
        }
        @media (max-width:768px){
            flex-direction: column;
        }
        .tarjetas-conocenos__card__header img {
            border-radius: 8px 0 0 8px;
            height: 500px;
            width: 550px;
            @media (max-width:1024px){
                height: 450px;
                width: 500px;
            }
            @media (max-width:768px){
                height: 450px;
                width: 350px;
                border-radius: 8px 8px 0 0;
            }
            @media (max-width:575px){
                height: 350px;
                width: 420px;
            }
        }
        .tarjeta__conocenos__card__footer {
            width: auto;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 0;
            justify-content: space-around;
            @media (max-width:1024px){
                width: 524px;
                justify-content: space-evenly;
                padding: 0;
            }
            @media (max-width:575px){
                width: auto;
            }
            h3 {
                font-size: 40px;
                margin: 0;
                text-align: center;
                @media (max-width:1024px){
                    font-size: 36px;
                }
                @media (max-width:768px){
                    font-size: 30px;
                }
                @media (max-width:575px){
                    font-size: 21px;
                }
            }
            p {
                padding-top: 10px;
                margin: 0;
                font-size: 23px;
                line-height: 29px;
                @media (max-width:1024px){
                    width: 510px;
                    padding-top: 0;
                    padding-left: 10px;
                    margin: 0;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                }
                @media (max-width:768px){
                    width: 524px;
                    padding: 10px;
                    font-size: 16px;
                }
                @media (max-width:575px){
                    width: 420px;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
    }
    .tarjetas-conocenos__card2 {
        width: 1200px;
        height: 500px;
        background-color: #f8f8f8;
        border-radius: 8px;
        box-shadow: 0 0 12px #d7d7d7;
        display: flex;
        @media (max-width:1024px){
            width: auto;
            height: auto;
        }
        @media (max-width:768px){
            flex-direction: column;
        }
        .tarjeta__conocenos__card__footer {
            width: auto;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            margin: 0;
            justify-content: space-around;
            @media (max-width:1024px){
                width: 524px;
                justify-content: space-evenly;
                padding: 0;
            }
            @media (max-width:575px){
                width: auto;
            }
            h3 {
                font-size: 40px;
                margin: 0;
                text-align: center;
                @media (max-width:1024px){
                    font-size: 36px;
                }
                @media (max-width:768px){
                    font-size: 30px;
                }
                @media (max-width:575px){
                    font-size: 21px;
                }
            }
            p {
                padding-top: 10px;
                margin: 0;
                font-size: 23px;
                line-height: 29px;
                @media (max-width:1024px){
                    width: 510px;
                    padding-top: 0;
                    padding-left: 10px;
                    margin: 0;
                    font-size: 18px;
                    line-height: 26px;
                    text-align: center;
                }
                @media (max-width:768px){
                    width: 524px;
                    padding: 10px;
                    font-size: 16px;
                }
                @media (max-width:575px){
                    width: 420px;
                    padding: 10px;
                    font-size: 16px;
                }
            }
        }
        .tarjetas-conocenos__card__header img {
            border-radius: 8px 0 0 8px;
            height: 500px;
            width: 550px;
            @media (max-width:1024px){
                height: 450px;
                width: 500px;
            }
            @media (max-width:768px){
                height: 450px;
                width: 350px;
                border-radius: 8px 8px 0 0;
            }
            @media (max-width:575px){
                height: 350px;
                width: 420px;
            }
        } 
        .card--img--modificadora img {
            border-radius: 0 8px 8px 0;
            @media (max-width:768px){
                border-radius: 0 0 8px 8px;
            }
        }
    }
}